# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [2]:
load_dotenv()

True

In [3]:
# Create a connection to the database
engine = create_engine(f'postgresql://postgres:{os.getenv("PASSWORD")}@localhost:5432')

In [4]:
query = """
SELECT *
FROM transaction;
"""

# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
df = pd.read_sql(query, engine)
df.head()

     id                date  amount              card  id_merchant
0   222 2018-01-01 21:35:10       6  3561954487988605           69
1  2045 2018-01-01 21:43:12       4  5135837688671496           85
2   395 2018-01-01 22:41:21      10   213193946980303           82
3  3309 2018-01-01 23:13:30      19  4263694062533017            5
4   567 2018-01-01 23:15:10       3     4498002758300           64

In [5]:
# Write function that locates outliers using standard deviation
def is_outlier(amount):
    diff = abs(amount - df.amount.mean())
    std_ = 2 * df.amount.std()
    if diff <= std_:
        return False
    return True

df['is_outlier'] = df.amount.apply(is_outlier)
df.head()

     id                date  amount              card  id_merchant  is_outlier
0   222 2018-01-01 21:35:10       6  3561954487988605           69       False
1  2045 2018-01-01 21:43:12       4  5135837688671496           85       False
2   395 2018-01-01 22:41:21      10   213193946980303           82       False
3  3309 2018-01-01 23:13:30      19  4263694062533017            5       False
4   567 2018-01-01 23:15:10       3     4498002758300           64       False

In [6]:
df.is_outlier.value_counts()

False    3416
True       84
Name: is_outlier, dtype: int64

In [7]:
# Find anomalous transactions for 3 random card holders
df[df.is_outlier == True].drop_duplicates(subset='card').sample(3)

,id,date,amount,card,id_merchant,is_outlier
575,1005,2018-03-01 21:29:05,1119,30078299053512,19,True
27,2650,2018-01-04 03:05:18,1685,3516952396080247,80,True
296,1415,2018-01-30 18:31:00,1177,4319653513507,64,True

## Identifying Outliers Using Interquartile Range

In [8]:
# Write a function that locates outliers using interquartile range
def is_outlier(amount):
    q75 = df.amount.quantile(.75)
    q25 = df.amount.quantile(.25)
    diff = q75 - q25
    if q25 - 1.5 * diff > amount or amount > q75 + 1.5 * diff:
        return True
    return False

df['is_outlier'] = df.amount.apply(is_outlier)
df.head()

     id                date  amount              card  id_merchant  is_outlier
0   222 2018-01-01 21:35:10       6  3561954487988605           69       False
1  2045 2018-01-01 21:43:12       4  5135837688671496           85       False
2   395 2018-01-01 22:41:21      10   213193946980303           82       False
3  3309 2018-01-01 23:13:30      19  4263694062533017            5       False
4   567 2018-01-01 23:15:10       3     4498002758300           64       False

In [9]:
df.is_outlier.value_counts()

False    3390
True      110
Name: is_outlier, dtype: int64

In [10]:
# Find anomalous transactions for 3 random card holders
df[df.is_outlier == True].drop_duplicates(subset='card').sample(3)

,id,date,amount,card,id_merchant,is_outlier
575,1005,2018-03-01 21:29:05,1119,30078299053512,19,True
235,2913,2018-01-24 13:17:19,1691,4761049645711555811,14,True
53,3457,2018-01-07 01:10:54,175,344119623920892,12,True